* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box; /* Fix for box model */
}

.container {
    max-width: 700px;
    width: 100%;
    margin: 10px; /* Center align horizontally */
    background-color: #ffffff;
    padding: 25px 35px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.input_box input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
